.main{
    height: 100vh;
}
.sidebar{
    background-color: #333;
    color: #fff;
}
.sidebar a{
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px 40px; 
}
.sidebar a:hover{
    background-color: #000;
}
.content{
    padding: 10px;  
}
.sidebar a.active{
    background-color: #000;
    border-right: solid 4px orange;
}
.card-data{
    border: solid 1px;
    color: black;
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px;
}
.card-data i{
    font-size: 45px;
}
.card-desc{
    font-size: 25px;
}
.card-count{
    font-size: 25px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}